{% extends "layout.html.twig" %}

{% block content %}

<main>
	<section>
		<h2 class="teams-title">les teams de la league</h2>
		
		<div class="teams-grid">
			
			<div class="team-card">
				<a href="#"><img src="templates/assets/img/angry-owls.png"></a>	
				<div class="team-name">
					<h3>angry owls</h3>
				</div>
				<div class="team-desc">
					<p>A team of angry owls</p>
				</div>
				<a class="btn" href="#">découvrez angry olws</a>
			</div>
			
			<div class="team-card">
				<a href="#"><img src="templates/assets/img/chatty-parrots.png"></a>	
				<div class="team-name">
					<h3>chatty parrots</h3>
				</div>
				<div class="team-desc">
					<p>A team of chatty parrots</p>
				</div>
				<a class="btn" href="#">découvrez chatty parrots</a>
			</div>
			
			<div class="team-card">
				<a href="#"><img src="templates/assets/img/panthers.png"></a>	
				<div class="team-name">
					<h3>panthers</h3>
				</div>
				<div class="team-desc">
					<p>A team of chatty panthers</p>
				</div>
				<a class="btn" href="#">découvrez panthers</a>
			</div>
			
			<div class="team-card">
				<a href="#"><img src="templates/assets/img/sparrow.png"></a>	
				<div class="team-name">
					<h3>sparrow</h3>
				</div>
				<div class="team-desc">
					<p>A team of chatty sparrow</p>
				</div>
				<a class="btn" href="#">découvrez sparrow</a>
			</div>
			
			<div class="team-card">
				<a href="#"><img src="templates/assets/img/vendetta.png"></a>	
				<div class="team-name">
					<h3>vendetta</h3>
				</div>
				<div class="team-desc">
					<p>A team of chatty vendetta</p>
				</div>
				<a class="btn" href="#">découvrez vendetta</a>
			</div>
		</div>
	</section>
</main>


{% endblock %}